
.icon-home-circled:before { content: '\e800'; } /* '' */
.icon-truck:before { content: '\e801'; } /* '' */
.icon-contacts:before { content: '\e802'; } /* '' */
.icon-dropbox:before { content: '\e803'; } /* '' */
.icon-edit:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-address:before { content: '\e807'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */