body {
    /* background-image: url("./img/congruent_pentagon.png"); */
}

@media screen and (max-width: 992px) {
    #topLeftLogo {
        position: absolute;
        bottom: -12px;
    }
    .navbar-toggler {
        margin-top: 15px;
    }
    ul.navbar-nav.mr-auto>li.nav-item {
        margin-left: 80%;
    }
    ul.navbar-nav.mr-auto>li.nav-item:first-child {
        margin-top: 18px;
    }
    /* DOESNT WORK FROM SOME REASON */
    .navbar-dark.navbar-nav.nav-link {
        color: #212529;
    }
    #contactDiv {
        float: left;
        margin-top: 20px;
        margin-bottom: 80px !important;
        margin-left: 80px;
    }
}

#topLeftLogo {
    width: 100px;
    height: 100px;
}

.navbar-brand {
    margin-top: 1px;
}

.navbar {
    height: 80px;
}

.nav-link {
    font-size: 1.3rem;
    border: 1px;
    border-color: white;
    margin-left: 10px;
}

a.nav-link {
    padding-top: 24px;
    padding-bottom: 8px;
    height: 80px;
}

.navbar-nav.mr-auto.nav-link:first-child {
    margin-left: 50px;
}

.nav-link:hover {
    background-color: rgb(34, 191, 160);
}

.jumbotron.text-center {
    margin-bottom: 0px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url("./img/indeks - Copy.jpg");
}

ul> :first-child {
    margin-left: 0px;
}

#first-container {
    margin-top: 0%;
}

.container {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 7%;
}

.section-image-container {
    float: left;
}

.clear-div {
    clear: both;
}

#section-fleet {
    margin-top: 2rem;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-style: solid;
    border-width: 1px;
}

#adPlace {
    min-height: 160px;
}

#contactDiv {
    float: left;
    margin-top: 4%;
    margin-bottom: 8%;
}

h3, h4 {
    font-family: Montserrat, sans-serif;
    /* color: #212529; */
    color: #999c9f;
}

h3 {
    font-weight: 900;
}

#aboutDiv {
    float: left;
    margin-top: 10%;
    text-align: justify;
    text-justify: inter-word;
}

#footer {
    margin-left: 1%;
    font-weight: bolder;
}

.about-pictures {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    float: left;
    margin-left: 3%;
    border: 1px solid grey;
}

#about-pictures {
    margin-top: 4%;
}

.flex-conintaner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}